* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(233, 47%, 7%);

  display: flex;
  flex-direction: column;

  font-family: 'Inter', sans-serif;
  font-size: 15px;
  height: 100vh;
}

.container {
  display: flex;
  flex: 1;
}

.wrapper {
  border-radius: 5px;

  display: flex;
  flex-direction: row-reverse;

  margin: auto;
  max-width: 1100px;
  overflow: hidden;
}

.img-wrapper {
  position: relative;
}

.header-img {
  height: 100%;
  max-width: 550px;
}

.overlay {
  background-color: hsl(277, 64%, 61%);
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  mix-blend-mode: multiply;
  width: 100%;
}

.insights {
  background-color: hsl(244, 38%, 16%);

  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;

  padding: 0 5rem;
}

.heading,
.data {
  color: hsl(0, 0%, 100%);
}

.heading {
  font-size: 2.1rem;
  margin-bottom: 2rem;
}

.highlighted {
  color: hsl(277, 64%, 61%);
}

.description {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 0.87rem;
  line-height: 1.5rem;
  padding-right: 3.5rem;
}

.stats-wrapper {
  display: flex;
  gap: 4rem;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.data {
  font-size: 1.3rem;
  font-weight: 700;
}

.data-target {
  color: hsla(0, 0%, 100%, 0.6);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.75rem;
}

.attribution {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 12px;
  padding-bottom: 0.5rem;
  text-align: center;
}

.attribution a {
  color: hsl(277, 64%, 61%);
  font-weight: 700;
  text-decoration: none;
}

@media only screen and (max-width: 1100px) {
  .wrapper {
    max-width: 900px;
  }

  .header-img {
    max-width: 450px;
  }

  .insights {
    gap: 3rem;
    padding: 0 3.5rem;
  }

  .heading {
    font-size: 1.8rem;
  }

  .description {
    font-size: 0.8rem;
    line-height: 1.2rem;
    padding-right: 2rem;
  }

  .data {
    font-size: 1.2rem;
  }

  .data-target {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 900px) {
  .wrapper {
    max-width: 600px;
  }

  .header-img {
    max-width: 300px;
    margin-bottom: 0;
  }

  .insights {
    gap: 1.5rem;
    max-width: 50%;
    padding: 2rem;
  }

  .heading {
    font-size: 1.3rem;
  }

  .description {
    font-size: 0.65rem;
    line-height: 1.1rem;
    padding-right: 0;
  }

  .stats-wrapper {
    gap: 1.75rem;
  }

  .data {
    font-size: 1rem;
  }

  .data-target {
    font-size: 0.6rem;
  }

  .attribution {
    font-size: 11px;
  }

  .attribution a {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
    align-items: center;

    max-width: auto;
  }

  .header-img,
  .insights {
    max-width: 310px;
  }

  .img-wrapper {
    height: 256.031px;
  }

  .insights {
    align-items: center;
    padding: 3rem 2rem;
    text-align: center;
  }

  .heading {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .description {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  .stats-wrapper {
    flex-direction: column;
  }

  .data {
    font-size: 1.5rem;
  }

  .data-target {
    font-size: 0.9rem;
  }

  .attribution {
    font-size: 10px;
  }

  .attribution a {
    font-size: 11px;
  }
}
